doctype html
html(lang="en")
  head
    title= "lacamera.io"
    //- lots of favicons
    link(rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
    //- all the other assets
    link(rel="stylesheet" href="style.css")
  body
  p Test
    .wrapper
      .header
        .header-logo
        .header-text
      .container